Source: python-linz-geodetic
Maintainer: Chris Crook <ccrook@linz.govt.nz>
Section: python
X-Python-Version: >= 3.5
Priority: optional
Build-Depends:
  python3-all,
  python3-setuptools,
  debhelper (>= 9)
Standards-Version: 3.9.1

Package: python3-linz-geodetic
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Python LINZ geodetic
 Provides some base geodetic functions.
 .
 This package installs the library for Python 3.
